<div class="row">

   <h1> Experiencia Laboral </h1>

   <div class="col-lg-1"></div>
   <div class="col-lg-11">
      <ul>
             <li>
               <h1>Trabajo1</h1> - <h3>(years)</h3>
             </li> 
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio magni animi nam ea modi. Magni, nobis sapiente.
                Nisi vero accusantium illo vel similique doloremque fuga
                modi perferendis ipsum aliquid. 
                Facere?
             </p> 
      </ul>

      <ul>
        <li>
          <h1>Trabajo2</h1> - <h3>(years)</h3>
        </li> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Distinctio magni animi nam ea modi. Magni, nobis sapiente.
           Nisi vero accusantium illo vel similique doloremque fuga
           modi perferendis ipsum aliquid. 
           Facere?
        </p> 
      </ul>

      <ul>
        <li>
          <h1>Trabajo3</h1> - <h3>(years)</h3>
        </li> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Distinctio magni animi nam ea modi. Magni, nobis sapiente.
           Nisi vero accusantium illo vel similique doloremque fuga
           modi perferendis ipsum aliquid. 
           Facere?
        </p> 
       </ul>
   </div>
</div>
