

<div class="row">

    

    <h1 class="titulo">Hard & Soft Skills</h1>

   
    <!--PRIMER CIRCULO-->
   <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
    <circle-progress
  [percent]="96"

  [imageSrc]="'../../../assets/ht.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"

  [radius]="100"
  [subtitle]="'HARD-SKILLS'"
  [subtitleFontSize]="'1.3em'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#295C93'"
  [innerStrokeColor]="'#74AFF0'"
  [animation]="true"
  [animationDuration]="1200" 
></circle-progress>
   </div>

    <!--SEGUNDO CIRCULO-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="94"
      [radius]="100"

      [imageSrc]="'../../../assets/cs.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
      [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="1000" 
    ></circle-progress>
       </div>

        <!--TERCER CIRCULO-->
   <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
    <circle-progress
  [percent]="88"
  [radius]="100"

  [imageSrc]="'../../../assets/js.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="120"

  [subtitle]="'HARD-SKILLS'"
  [subtitleFontSize]="'1.3em'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#295C93'"
  [innerStrokeColor]="'#74AFF0'"
  [animation]="true"
  [animationDuration]="1100" 
></circle-progress>
   </div>

    <!--CUARTO CIRCULO-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="100"
      [radius]="100"

      [imageSrc]="'../../../assets/cpp.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
      [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="1400" 
    ></circle-progress>
       </div>

        <!--QUINTO CIRCULO-->
   <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
    <circle-progress
  [percent]="78"
  [radius]="100"

  [imageSrc]="'../../../assets/java.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"

  [subtitle]="'HARD-SKILLS'"
  [subtitleFontSize]="'1.3em'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#295C93'"
  [innerStrokeColor]="'#74AFF0'"
  [animation]="true"
  [animationDuration]="1140" 
></circle-progress>
   </div>

    <!--SEXTO CIRCULO-->  <!--text-center es para colocarlos en medio de la caja-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="67"
      [radius]="100"

      [imageSrc]="'../../../assets/py.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
      [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="900" 
    ></circle-progress>
       </div>

       <!--SEPTIMO CIRCULO-->  <!--text-center es para colocarlos en medio de la caja-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="80"
      [radius]="100"

      [imageSrc]="'../../../assets/english.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
  [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="900" 
    ></circle-progress>
       </div>

       <!--OCTAVO CIRCULO-->  <!--text-center es para colocarlos en medio de la caja-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="90"
      [radius]="100"

      [imageSrc]="'../../../assets/gestionTime.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
      [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="1510" 
    ></circle-progress>
       </div>

       <!--NOVENO CIRCULO-->  <!--text-center es para colocarlos en medio de la caja-->
    <div class="text-center col-sm-6 col-md-4 col-lg-4"> 
        <circle-progress
      [percent]="86"
      [radius]="100"

      [imageSrc]="'../../../assets/TomarDecisiones.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"

      [subtitle]="'HARD-SKILLS'"
      [subtitleFontSize]="'1.3em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#295C93'"
      [innerStrokeColor]="'#74AFF0'"
      [animation]="true"
      [animationDuration]="1300" 
    ></circle-progress>
       </div>
<!-- AnimationDuration está en milisegundos -->
<!-- outerStrokeWidth Tamaño de barra de carga -->
<!-- innerStrokeWidth tamaño de circulo interior -->

</div>
